In [15]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder

In [2]:
# import dataset
!git clone https://github.com/Moezwalha/Flask-app.git

Cloning into 'Flask-app'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.

In [3]:
#show dataset
dataset = pd.read_csv('/content/Flask-app/50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [17]:
# copy data
data_copy = dataset.copy()
# Set target
Y = data_copy["Profit"]
# Drop column profit from data_copy
X = data_copy.drop("Profit", axis=1)

In [21]:
# Show categorical columns in the data
object_cols = [col for col in X.columns if X[col].dtype == "object"]
object_cols

['State']

In [25]:
# Solve categorical column problem using ordinal encoders
ordinal_encoder = OrdinalEncoder()
X[object_cols] = ordinal_encoder.fit_transform(X[object_cols])
X.head()

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10    2.0
1  162597.70       151377.59        443898.53    0.0
2  153441.51       101145.55        407934.54    1.0
3  144372.41       118671.85        383199.62    2.0
4  142107.34        91391.77        366168.42    1.0

In [35]:
# Splitting the dataset into training and test set.  
x_train, x_test, y_train, y_test= train_test_split(X, Y, test_size= 0.2, random_state=0)

In [27]:
#Fitting the MLR model to the training set   
regressor= LinearRegression()  
regressor.fit(x_train, y_train)

LinearRegression()

In [41]:
# test the model using x_test
y_pred = regressor.predict(x_test)

In [42]:
#Checking the accuracy  
print('Train Score: ', regressor.score(x_train, y_train))  
print('Test Score: ', regressor.score(x_test, y_test))

Train Score:  0.9500009880362248
Test Score:  0.9386861070938134

In [47]:
# trying to predict the first x_test variable
pred = regressor.predict([[2.5,31.4,66051.52,2.0]])
print("Profit prediction  : ", pred)

Profit prediction  :  [45599.49151268]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [44]:
# save the model to disk
import joblib
filename = 'finalized_model.sav'
joblib.dump(regressor, filename)

['finalized_model.sav']